#particles-js {
  margin-top: -2rem;
  margin-left: -10rem;
  position: absolute;
  width: 94rem;
  height: 52rem;
  background-color: #242424;
  background-repeat: no-repeat;
  background-size: cover;
}